<section id="contact" class="contact" aria-labelledby="contact-title">
  <div class="wrap">
    <div class="left">
      <p class="kicker">{{ 'CONTACT.KICKER' | translate }}</p>
      <h2 id="contact-title" class="headline">
        <span>{{ 'CONTACT.TITLE' | translate }}{{ 'CONTACT.TITLE_SEC' | translate }}</span>
      </h2>

      <h3 class="subhead">{{ 'CONTACT.SUBTITLE' | translate }}</h3>
      <p class="lead">
        {{ 'CONTACT.INTRO' | translate }}
      </p>
      <div class="pitch">
        <span class="tail">{{ 'CONTACT.PITCH' | translate }}</span>
        <span class="tail-second">{{ 'CONTACT.PITCH_HIGHLIGHT' | translate }}</span>
      </div>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" class="right" #contactForm="ngForm">
      <div class="field">
        <label for="name" class="question">{{ 'CONTACT.FORM.NAME' | translate }}</label>
        <input
          #nameInput="ngModel"
          [(ngModel)]="contactData.name"
          minlength="4"
          id="name"
          type="text"
          name="name"
          placeholder="{{ 'CONTACT.FORM.NAME_PLACEHOLDER' | translate }}"
          required />

        <div class="error-fields">
          @if (!nameInput.valid && (nameInput.touched || contactForm.submitted)) {
          <span class="error">{{ 'CONTACT.FORM.ERRORS.NAME' | translate }}</span
          >}
        </div>
      </div>

      <div class="field">
        <label for="email" class="question">{{ 'CONTACT.FORM.EMAIL' | translate }}</label>
        <input
          #emailInput="ngModel"
          [(ngModel)]="contactData.email"
          id="email"
          type="email"
          name="email"
          placeholder="{{ 'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate }}"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />

        <div class="error-fields">
          @if (!emailInput.valid && (emailInput.touched || contactForm.submitted)) {
          <span class="error">{{ 'CONTACT.FORM.ERRORS.EMAIL' | translate }}</span
          >}
        </div>
      </div>

      <div class="field">
        <label for="message" class="question">{{ 'CONTACT.FORM.MESSAGE' | translate }}</label>
        <textarea
          #messageInput="ngModel"
          [(ngModel)]="contactData.message"
          minlength="4"
          id="message"
          name="message"
          placeholder="{{ 'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate }}"
          required></textarea>

        <div class="error-fields">
          @if (!messageInput.valid && (messageInput.touched || contactForm.submitted)) {
          <span class="error">{{ 'CONTACT.FORM.ERRORS.MESSAGE' | translate }}</span
          >}
        </div>
      </div>
      <div class="field-last">
        <label class="consent">
          <input type="checkbox" name="privacy" [(ngModel)]="contactData.privacy" #privacyInput="ngModel" required />
          <span class="box" aria-hidden="true"></span>
          <div class="consent-text-group">
            <span class="consent-text">
              {{ 'CONTACT.FORM.PRIVACY_A' | translate }}<a class="consent-link" href="#">{{ 'CONTACT.FORM.PRIVACY_B' | translate }}</a
              >{{ 'CONTACT.FORM.PRIVACY_C' | translate }}
            </span>
          </div>
        </label>
      </div>
      <div class="error-fields">
        @if (!privacyInput.valid && (privacyInput.touched || contactForm.submitted)){
        <span class="error">{{ 'CONTACT.FORM.ERRORS.PRIVACY' | translate }}</span
        >}
      </div>

      <div class="btn-position">
        <button class="btn" type="submit">{{ 'CONTACT.FORM.SUBMIT' | translate }}</button>
      </div>
    </form>
  </div>
  @if (messageStatus.show) {
  <div class="success-message">
    {{ messageStatus.text | translate }}
  </div>
  }
</section>

