<div *ngIf="open" class="overlay-root">
  <div class="backdrop" (click)="onBackdropClick()" aria-hidden="true"></div>
  <div class="overlay-content">
    <div class="panel-left" role="dialog" aria-modal="true">
      <h1 class="project-number">{{ activeProject.number }}</h1>
      <h2 class="project-title">{{ activeProject.title }}</h2>
      <h3 class="project-info-title">{{ activeProject.infoTitle }}</h3>
      <span class="project-description">{{ activeProject.description }}</span>

      <div class="tech">
        @for(tech of activeProject.tech; track tech.name) {
        <img class="tech-icon" [src]="tech.icon" [alt]="tech.alt" />
        <span>{{ tech.name }}</span>
        }
      </div>

      <div class="btn-position">
        <a [href]="activeProject.buttons[0].link" target="_blank" class="btn"
          ><span>GitHub</span><img class="arrow-icon" src="../../../../assets/icons/arrow_green.png" alt=""
        /></a>
        <a [href]="activeProject.buttons[1].link" target="_blank" class="btn"
          ><span>Live Test</span><img class="arrow-icon" src="../../../../assets/icons/arrow_green.png" alt=""
        /></a>
      </div>
    </div>
    <div class="panel-right">
      <button type="button" class="panel-close" (click)="close()" aria-label="Close">
        <img class="close-icon" src="../../../../assets/icons/close_small.png" alt="" />
      </button>
      <img class="preview-img" src="{{ activeProject.previewImage }}" alt="" />
      <button type="button" class="panel-next" aria-label="Next" (click)="nextProject()">
        <span>Next project</span><img src="../../../../assets/icons/next_arrow.png" alt="" />
      </button>
    </div>
  </div>
</div>

