:host {
  --bg: #1c1c1c;
  --fc: #ffffff;
  --accent: #2fe0c5;
}

.projects {
  // background: radial-gradient(1200px 600px at 0% 0%, rgba(47, 224, 197, 0.08), transparent 60%), var(--bg);
  background: var(--bg);
  font-family: 'FiraCode', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 768px;
  color: var(--fc);
  font-size: 18px;
}

.overall-container {
  padding-left: 96px;
  padding-right: 96px;
  width: 100%;
  max-width: 1980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.Featured-Projects-container {
  width: 100%;
  max-width: 880px;
  height: 581px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.projects-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  max-width: 516px;
  height: 200px;

  .preview-image {
    width: 100%;
    max-width: 516px;
    height: auto;
    object-fit: contain;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.kicker {
  margin-bottom: 20px;
  color: var(--accent);
  font-weight: 700;
  font-size: 24px;
  font-family: 'Karla', sans-serif;
}

.headline {
  margin-bottom: 41px;
  font-size: 64px;
  font-weight: 700;
  color: var(--accent);
}

.intro {
  font-family: 'Karla', sans-serif;
  max-width: 62ch;
  color: var(--fc);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 41px;
}

.list {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 109px;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: none;
  color: var(--fc);
  &:hover {
    background-color: #3dcfb64d;
  }
}

.name .arrow-icon {
  display: none;
}

.item:hover .name .arrow-icon {
  display: inline-block;
}

.list li:last-child .item {
  border-bottom: 1px solid var(--accent);
}
.list li:first-child .item {
  border-top: 1px solid var(--accent);
}
.list li:nth-child(2) .item {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.name {
  font-weight: 700;
  font-size: 24px;
  font-family: 'FiraCode', monospace;
}

.tech-container {
  display: flex;
  gap: 8px;
  // padding-right: 32px;
}

.tech {
  color: var(--fc);
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.dividing-line {
  height: 20px;
  width: 1px;
  background-color: #3dcfb6;
}

