<section class="projects" aria-labelledby="projects-title">
  <div class="overall-container">
    <div class="Featured-Projects-container">
      <p class="kicker">Portfolio</p>
      <h2 id="projects-title" class="headline">Featured Projects</h2>
      <p class="intro">Explore a selection of my work here - Interact with projects to see my skills in action.</p>

      <ul class="list" role="list">
        <li>
          <a class="item">
            <span class="name">Join</span>
            <span class="tech">HTML</span>
            <div class="dividing-line"></div>
            <span class="tech">CSS</span>
            <div class="dividing-line"></div>
            <span class="tech">Javascript</span>
            <div class="dividing-line"></div>
            <span class="tech">Firebase</span>
          </a>
          <a class="item">
            <span class="name">El Pollo Loco</span>
            <span class="tech">HTML</span>
            <div class="dividing-line"></div>
            <span class="tech">CSS</span>
            <div class="dividing-line"></div>
            <span class="tech">Javascript</span>
          </a>
          <a class="item">
            <span class="name">Da Bubble</span>
            <span class="tech">Angular</span>
            <div class="dividing-line"></div>
            <span class="tech">Firebase</span>
            <div class="dividing-line"></div>
            <span class="tech">Typescript</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-preview"></div>
  </div>
</section>

