<section id="about" class="about-section" aria-labelledby="about-title">
  <div class="content">
    <figure class="portrait">
      <img class="front-img" src="assets/images/Property 1=Default.png" />
      <img class="background-img" src="assets/images/background_img.png" />
    </figure>

    <div class="text-col">
      <p class="kicker">Who I am</p>

      <article class="card" role="article">
        <h2 id="about-title" class="title">About me</h2>

        <p class="intro">
          Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate about coding? What is your
          source of inspiration for improving your programming skills?
        </p>

        <div class="bullets">
          <div class="icon-text-position">
            <img src="assets/icons/property_location_on.png" />
            <p>Where are you based? Would you be open to working remotely or potentially relocating?</p>
          </div>

          <div class="icon-text-position">
            <img src="assets/icons/property_cognition.png" />
            <p>
              Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?
            </p>
          </div>

          <div class="icon-text-position">
            <img src="assets/icons/property_quality.png" />
            <p>
              A brief description of your problem-solving approach. Do you learn from each challenge as you search for the most efficient or
              elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and collaboration.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

