<section id="about" class="about-section" aria-labelledby="about-title">
  <div class="content">
    <figure class="portrait">
      <img class="front-img" src="assets/images/Property 1=Default.png" />
      <img class="background-img" src="assets/images/background_img.png" />
    </figure>

    <div class="text-col">
      <p class="kicker">{{ 'ABOUT.KICKER' | translate }}</p>

      <article class="card" role="article">
        <h2 id="about-title" class="title">{{ 'ABOUT.TITLE' | translate }}</h2>

        <p class="intro">
          {{ 'ABOUT.INTRO' | translate }}
        </p>

        <div class="bullets">
          <div class="icon-text-position">
            <img src="assets/icons/property_location_on.png" />
            <p>{{ 'ABOUT.LOCATION.TEXT' | translate }}</p>
          </div>

          <div class="icon-text-position">
            <img src="assets/icons/property_cognition.png" />
            <p>
              {{ 'ABOUT.MINDSET.TEXT' | translate }}
            </p>
          </div>

          <div class="icon-text-position">
            <img src="assets/icons/property_quality.png" />
            <p>
              {{ 'ABOUT.APPROACH.TEXT' | translate }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

