<section class="hero">
  <div class="tint"></div>
  <div class="content-wrapper">
    <app-navbar></app-navbar>

    <main class="center">
      <h2 class="kicker">{{ 'HERO.KICKER' | translate }}</h2>
      <h1 class="title">Nawied Syed</h1>
      <div class="cta">
        <a class="btn outline" href="#projects">
          <span>{{ 'HERO.CTA_CHECK' | translate }}</span>
        </a>
        <a class="btn solid" href="#contact">
          <span>{{ 'HERO.CTA_CONTACT' | translate }}</span>
        </a>
      </div>
    </main>
    <div class="bottom-bar">
      <div class="social">
        <a class="v-email" href="mailto:nawied.syed@gmx.de" aria-label="Send email"><span>nawied.syed&#64;gmx.de</span></a>
        <a class="v-email-icon" href="mailto:nawied.syed@gmx.de" aria-label="Send email"><img src="./assets/icons/mail.png" alt="" /></a>
        <a href="https://github.com/Nave-S" target="_blank" rel="noreferrer" aria-label="GitHub" class="icon">
          <img src="./assets/icons/github.png" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/feed/" target="_blank" rel="noreferrer" aria-label="LinkedIn" class="icon">
          <img src="./assets/icons/linkedin.png" alt="Linkedin" />
        </a>
        <div class="spacer-right"></div>
      </div>

      <div class="scroll">
        <a href="#footer">
          <div class="circle">
            <span class="arrow"><img src="./assets/icons/hero_arrow.png" alt="arrow" /></span>
          </div>
        </a>
        <div class="spacer-left"></div>
      </div>
    </div>
  </div>

  <p id="ticker-text" class="screenreader-only" aria-live="off">
    @for (key of tickerKeys; track key; let last = $last) {
    <span>{{ key | translate }}</span
    >}
  </p>

  <div class="ticker" aria-hidden="true">
    <div class="track">
      @for (rArray of repeatArray; track $index; let lastRepeat = $last) { @for (key of tickerKeys; track key; let lastKey = $last) {
      <span>{{ key | translate }}</span>
      @if (!(lastKey && lastRepeat)) {
      <span aria-hidden="true"> • </span>
      } } }
    </div>
  </div>
</section>

