<header class="topbar">
  <div class="lang-toggle" role="tablist" aria-label="Language">
    <div>
      <button class="chip">EN</button>
      <button class="chip">DE</button>
    </div>

    <nav class="nav">
      <a href="#about">About me<img class="point-position" src="assets/icons/point_green.png" /></a>
      <a href="#skills">Skills<img class="point-position" src="assets/icons/point_green.png" /></a>
      <a href="#projects">Projects<img class="point-position" src="assets/icons/point_green.png" /></a>
    </nav>
  </div>

  <a class="brand" href="#">
    <span class="mark">NS</span>
    <span class="brand-text">Nawied<br />Syed</span>
  </a>
</header>

