<header class="top-bar" data-aos="zoom-in" data-aos-delay="200" (click)="onTopBarClick($event)">
  <div class="nav-container" [class.open]="isMenuOpen">
    <nav class="nav" role="tablist" aria-label="Navigation">
      <app-language-switch class="d-none-first"></app-language-switch>
      <a (click)="scrollToSection('about')"
        >{{ 'NAVBAR.ABOUT' | translate }}<img class="point-position" src="./assets/icons/point_green.png"
      /></a>
      <a (click)="scrollToSection('skills')"
        >{{ 'NAVBAR.SKILLS' | translate }}<img class="point-position" src="./assets/icons/point_green.png"
      /></a>
      <a (click)="scrollToSection('projects')"
        >{{ 'NAVBAR.PROJECTS' | translate }}<img class="point-position" src="./assets/icons/point_green.png"
      /></a>
      <app-language-switch class="d-none"></app-language-switch>
    </nav>
  </div>

  <a class="brand" (click)="navigateToHome()">
    <span class="mark">NS</span>
    <span class="brand-text">Nawied<br />Syed</span>
  </a>

  <div class="navbar-language-container">
    <button class="burger-menu-button" data-aos="flip-left" data-aos-delay="200" (click)="toggleMenu()" aria-label="Toggle navigation menu">
      <div class="burger-bar"></div>
      <div class="burger-bar"></div>
      <div class="burger-bar"></div>
    </button>
  </div>
</header>

