<header class="top-bar">
  <div class="navbar-language-container" role="tablist" aria-label="Language">
    <app-language-switch></app-language-switch>

    <nav class="nav">
      <a href="#about">{{ 'NAVBAR.ABOUT' | translate }}<img class="point-position" src="assets/icons/point_green.png" /></a>
      <a href="#skills">{{ 'NAVBAR.SKILLS' | translate }}<img class="point-position" src="assets/icons/point_green.png" /></a>
      <a href="#projects">{{ 'NAVBAR.PROJECTS' | translate }}<img class="point-position" src="assets/icons/point_green.png" /></a>
    </nav>
  </div>

  <a class="brand" href="#">
    <span class="mark">NS</span>
    <span class="brand-text">Nawied<br />Syed</span>
  </a>
</header>

