<section id="skills" class="skills-section" aria-labelledby="skills-title">
  <div class="wrap">
    <div class="card-title">
      <p class="kicker">{{ 'SKILLS.KICKER' | translate }}</p>
      <article class="card" role="article">
        <h2 id="skills-title" class="title">{{ 'SKILLS.TITLE' | translate }}</h2>
        <p class="intro">
          {{ 'SKILLS.INTRO' | translate }}
        </p>

        <h3 class="pitch">
          <span class="strong"></span><span>{{ 'SKILLS.PITCH' | translate }}</span
          >&nbsp;<span class="pitch-second-half">{{ 'SKILLS.PITCH_HIGHLIGHT' | translate }}</span>
        </h3>
        <p class="pitch-p">{{ 'SKILLS.PITCH_TEXT' | translate }}</p>

        <a href="#contact" class="btn"
          ><span>{{ 'SKILLS.CTA' | translate }}</span></a
        >
      </article>
    </div>
    <div class="skills" role="list">
      @for(skill of skills; track skill.label){
      <div class="skill">
        <img src="./assets/icons/{{ skill.icon }}" alt="" srcset="" />
        <span class="label">{{ skill.label }}</span>
      </div>
      }

      <div class="skill-tooltip tooltip">
        <img src="./assets/icons/growth_mindset.png" alt="" />
        <span class="label">Growth mindset</span>

        <div class="tip" role="tooltip" id="tip-growth">
          <span>{{ 'SKILLS.INTEREST' | translate }}</span>
          <div class="img-position">
            <img class="icon" src="./assets/icons/react.png" alt="" />
            <img class="icon" src="./assets/icons/vue.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

