<section id="skills" class="skills-section" aria-labelledby="skills-title">
  <div class="content">
    <div class="card-title">
      <p class="kicker">Technologies</p>
      <article class="card" role="article">
        <h2 id="skills-title" class="title">Skill Set</h2>
        <p class="intro">
          A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise your
          openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web
          development.
        </p>

        <h3 class="pitch"><span class="strong"></span><span>You need</span>&nbsp;<span class="pitch-second-half">another skill?</span></h3>
        <p class="pitch-p">Feel free to contact me. I look forward to expanding on my previous knowledge.</p>

        <a href="#contact" class="btn"><span>Let's Talk</span></a>
      </article>
    </div>
    <div class="skills" role="list">
      @for(skill of skills; track skill.label){
      <div class="skill">
        <img src="assets/icons/{{ skill.icon }}" alt="" srcset="" />
        <span class="label">{{ skill.label }}</span>
      </div>
      }

      <div class="skill-tooltip tooltip">
        <img src="../../../assets/icons/growth_mindset.png" alt="" />
        <span class="label">Growth mindset</span>

        <div class="tip" role="tooltip" id="tip-growth">
          <span>I have a special interest in learning</span>
          <div class="img-position">
            <img class="icon" src="../../../assets/icons/react.png" alt="" />
            <img class="icon" src="../../../assets/icons/vue.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

