/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

button {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("ttf");
}

.karla {
  font-family: "Karla", sans-serif;
}

@font-face {
  font-display: swap;
  font-family: "FiraCode";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("ttf");
}

.firaCode {
  font-family: "FiraCode", monospace;
}

:root {
  --scrollbar-bg: transparent;
  --scrollbar-thumb: #3dcfb6;
  --scrollbar-thumb-hover: #3dcfb6;
}

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: 35px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--scrollbar-thumb),
    var(--scrollbar-thumb)
  );
  border-radius: 35px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}
