<footer id="footer" class="site-footer" aria-label="Footer">
  <section class="wrap">
    <div class="brand-overall-container">
      <a class="brand" href="#">
        <span class="mark">NS</span>
        <span class="brand-text">Nawied<br />Syed</span>
      </a>

      <div class="info">
        <div class="line">{{ 'FOOTER.ROLE' | translate }}</div>
        <div class="line">{{ 'FOOTER.COUNTRY' | translate }}</div>
      </div>
    </div>

    <div class="copyright">{{ 'FOOTER.TEXT' | translate }}</div>

    <nav class="social" aria-label="Footer links">
      <a href="https://github.com/Nave-S" target="_blank">Github </a>
      <a>LinkedIn </a>
      <a href="mailto:nawied.syed@gmx.de">Email </a>
      <a routerLink="/imprint">{{ 'FOOTER.IMPRINT' | translate }}</a>
      <a routerLink="/legal-notice">{{ 'FOOTER.LEGAL' | translate }}</a>
    </nav>
  </section>
  <div class="copyright-responsive">{{ 'FOOTER.TEXT' | translate }}</div>
</footer>

